<%- include('./../../Partials/Base',{PageTitle:`کاربران - ${CurrentUser.UserName}`,PageBaseAuther:true,PageIndex:true,PageOgTitle:`کاربران - ${CurrentUser.UserName}`,PageDescription:`کاربران - ${CurrentUser.UserName}`,PageKeywords:[]}) %>
<%- include('./../../Partials/Header') %>
            <section>
            </section>
<%- include('./../../Partials/Footer') %>