<%- include('./Partials/Base',{PageTitle:'خانه',PageBaseAuther:true,PageIndex:true,PageOgTitle:'خانه',PageDescription:'',PageKeywords:[]}) %>
<%- include('./Partials/Header.ejs') %>
            <section>
            </section>
<%- include('./Partials/Footer.ejs') %>